*{
    box-sizing: border-box;
}
header
{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar
{
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);  
    height: 72.8px;
    background-color: #FFFFFF;
    color:	#6e7b8b;
    align-items: center;
    display: flex;
    /* border: 2px,solid,black; */
    /* justify-content: space-evenly; */
}
.nav-logo
{
    height: 40px;
    width:40px;
    background-image: url("Resource/logo.png");
    background-size: cover;
    margin-left: 150px;
}
.nav-left
{
    display:flex;
    align-items: center;
}
.nav-link
{
    margin-right:50px;
}
.nav-link a
{
    display:inline-block;
    margin-left: 60px;
    font-size: 16px; 
    font-weight: 500; 
    transition: text-decoration, color 0.15s; 
}
.nav-link a:hover
{
    color: #00754A;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 20px;
}
.nav-search input
{
    border: none;
    width:200px;
    outline: none;
}
.nav-search
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
    width:270px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    margin-left: 200px;
}
.nav-search:focus-within
{
    border: 0.3px solid black;
    
}
.nav-profile
{
    height:32px;
    width:32px;
    background-image: url("Resource/account_thin.svg");
    background-size: cover;
    margin-left: 150px;

}
.panel
{
    border-top: 4px solid rgb(226, 222, 222);
    margin-top: 2px;
    height: 80px;
    background-color: #1E3932;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72.8px;
}
.panel-text
{
    display: flex;
    align-items: center;
    height: 48.4px;
    width:1092px;
}
.panel-text h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin: 50px;
}
.box-know_more
{
    width: 304px;
    height: 32px;
    display: flex;
    align-items: center;
}
.box-know_more button
{
    width: 96px;
    height: 32px;
    border-color: #FFFFFF;
    background-color: #1E3932;
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    margin-left: 100px;
}
.body1
{
    height: 250px;
    /* border: 2px solid black;  */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cofe
{
    width: 1200px;
    height: 220px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    background-image: url("Resource/background.jpg");
    background-size: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15),-2px -2px 5px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
}
.cofe-img1
{
    height: 208.75px;
    width: 100px;
    /* border: 2px solid black; */
    background-image: url("Resource/cup1.png");
    background-size: contain;         
    background-repeat: no-repeat;       
    background-position: center;        
}
.cofe-text
{
    height: 218.4px;
    width:600.84px;
    /* border: 2px solid black;  */
    color: #FFFFFF;
}
.cofe-text h4
{
    padding-top: 10px;
}
.same
{
    font-family: Arial, Helvetica, sans-serif;
    width:552.84;
    height: 42.28px;
    color:black;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cofe-button
{
    height: 218px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black;   */

}
.cofe-button button
{
    margin-top: 120px;
    height: 49px;
    width: 200px;
    padding: auto auto;
    background-color: #00754A;
    color: #FFFFFF;
    font-family: 'Arial';
    border: none;
    border-radius: 30px;
    margin-left: 250px;
}
.div-line
{
    
    height:20px;
    /* background-color: #00754A; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-1
{
    height: 2.4px;
    width:90px;
    background-color: #00754A;
}
.line-2
{
    height: 2.4px;
    width:100px;
    background-color: rgb(212, 233, 226);
}
.body2
{
    margin-top: 80px;
    /* border: 2px solid black; */
    margin-left: 160px;
    height: 300px;
    width: 1200px;
    
}
.body2 h2
{
    letter-spacing: 1px;
    font-weight: 100;
}
.image-gallery
{
    height: 200px;
    width: 1200px;
    /* border: 2px solid black; */
    display: flex;
}
.image
{
    height: 200px;
    width: 200px;
    border: none;
    /* border: 2px solid black; */
    text-align: center;
    transition: border 0.15s;
}
.image p
{
    font-size: 15px;
    font-weight: 500;
}
.image img
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.image img:hover
{
    border:2px solid #00754A;
    cursor: pointer;
}
.body3
{
    height: 316.8px;
    background-color: #edebe9;
    margin: 24px 0px 40px;
    padding-left: 60px;
    position: relative;
}
.body3 .img1
{
    position:absolute;
    height: 70px;
    width: 57px;
    right: 8px;
    top: 0;
}
.body3 .div1
{
    margin-left: 60px;
    height: 60px;
    width: 1320px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}
.body3 h2
{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 23px;
}
.body3 h6
{
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #00754A;
}
.body3 .div2
{
    /* border: 1px solid black;  */
    height: 160px;
    width: 405px;
    margin-left: 80px;
    margin-top: 30px;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    
}
.body3 .div3 .img2
{
    height: 80px;
    width: 80px;
    border-radius: 8px;
}
.div3
{
    display: flex;
    height: 92px;
    width: 279px;
    padding: 0px 16px;
}
.div3 .img3
{
    height: 16px;
    width: 16px;
    margin-top: 14px;
}
.div3 h3
{
    font-weight: 500;
    margin: 0;
    height: 16px;
    width: 244px;
    font-size: 15px;
}
.div3 .details
{
    height: 8.8px;
    width: 100px;
}
.div3 .details
{
    height: 70px;
    width: 8.8px;
    font-size: 8px;
    opacity: 0.5;
    padding-left: 3px;
}
.div2 .div4
{
    margin-left: 10px;
}
.div2 .div5
{
    display: flex;
    height: 32px;
    width: 356px;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-between;
}
.div2 .div5 h4
{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
.div5 button
{
    width: 96px;
    height: 32px;
    border-radius: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #00754A;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.body4
{
    height: 520px;
    margin: 24px 0px 40px;
    padding: 32px 0px;
    background-color: #edebe9;
}
.body4 .top-text
{
    
    width: 1320px;
    height: 60.8px;
    margin: 0px 60px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}
.body4 h6
{
    color: #00754A;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.background
{
    position: relative;
    height: 372px;
    width: 1200px;
    /* border: 2px solid black;  */
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 7px;
    overflow: hidden;  
}
.background-over
{
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top,rgba(0,0,0,0.7),transparent);
}
.background:hover .image-bright
{
    filter:brightness(50%);
    cursor:pointer;
}
.background img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-top
{
    position: absolute;
    height: 44.5px;
    width: 1221px;
    /* border: 2px solid black;  */
    top:0;
    left: 0;
    padding-top: 10px;
    padding-left: 35px;
}
.background .card-top p
{
    margin: 0;
    font-size: 12px;
    font-family: Arial, sans-serif;
    background-color: #E6EDEB;
    display: inline;
    padding: 2px 4px;
    color: #00754A;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px;
}
.writing
{
    position: absolute;
    top:0;
    left: 0;
    margin-top: 180px;
    margin-left: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}
.writing p
{
    font-weight: 200;
}
.writing button
{
    height:32px;
    width: 200px;
    color: #000000;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
footer .footer-1
{
    margin-top: 150px;
    height: 650px;
    background-color: #0E282C;
    padding: 128px 32px 32px;
    display: flex;
    color: #FFFFFF;
}
.foot-1
{
    margin-left: 80px;
    width:219px;
    height: 717px;
}
.foot-1 img
{
    height: 62px;
    width: 62px;
}
.foot-2
{
    height: 717px;
    width: 219px;
}
ul
{
    list-style-type: none;
    
}
li
{
   padding-top: 30px;
   font-weight: 100;
}
li:hover
{
    opacity: 0.5;
    cursor: pointer;
}
.foot-3
{
    height: 717px;
    width: 219px;
}
.foot-4
{
    height: 717px;
    width: 219px;
}
.footer-2
{
    height: 160px;
    background-color: #0E282C;
    margin-top: 0;
    display: flex;
}
.socialmedia
{
    margin:0px 50px;
}
.socialmedia h3
{
    padding-left: 14px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif
}
.media-pic
{
    display: flex;
    width: 153px;
    height: 51px;
    justify-content: space-evenly;

}
.media-pic img
{
    height: 35px;
    width: 35px;
}
.playstore
{
    display: flex;
    flex-direction: column;
}
.footer-3
{
    height: 100px;
    background-color: #0E282C;
    display: flex;
    justify-content: center;

    
}
.footer-3 .bottom
{
    width: 1300px;
    border-top:0.5px solid #a0a0a0;
    display: flex;
}
.bottom-left
{
    color: #E6EDEB;
    display: flex;
    margin-right: 12px;
    margin-top: 12px;
}
span
{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}
.bottom-left a
{
    font-size: 12px;
    transition: opacity 0.15s;
}
.bottom-left a:hover
{
    opacity: 0.5;
    cursor: pointer;
}





